 <div class="  wrapper wrapper-full-page">
  <div class="row mt-0" style="height:100vh ;width: 100%;margin-left: 0;">
    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto d-flex flex-column  align-items-center justify-content-center  " style="background-color:rgb(0, 86, 114); background-image: url(./assets/img/dashboard-background-top.png), url(./assets/img/dashboard-background-bottom.png); background-repeat: no-repeat, no-repeat; background-position: left top, right bottom; background-size: 266px, 335px;">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h4 class="border mt-5" style="color:rgb(101, 186, 255) ;" >Logo</h4>
        <p class="text-center col-lg-9 col-md-6 mt-4 text-white" style="font-size: 16px; line-height: 24px; font-family: Open Sans, sans-serif;">This is a inviation platform related to the Admin brand that helps you get better at business. You can use the same account to log into both Admin and Dashboard </p>
      </div>
  </div>
    <div class="col-lg-8 col-md-6 col-sm-6 ml-auto   text-center d-flex align-items-center justify-content-center flex-column bg-white p-2">
      <div class="m-1 col-lg-6 col-md-6 col-sm-6"  >
        <h4 class="text-dark mt-2 m-1" style="font-size: 24px; font-weight:900">Create an account to continue to dashboard </h4>
        <div class="social text-center mt-2 ">
          <button mat-raised-button class="btn btn-just-icon btn-round  btn-github mr-3 m-2 ml-0">
            <i class="fa fa-github"></i>
          </button>
          <button mat-raised-button class="btn btn-just-icon btn-round  btn-linkedin mr-3  m-2">
            <i class="fa fa-linkedin"></i>
          </button>
          <button mat-raised-button class="btn btn-just-icon btn-round  btn-facebook mr-3 m-2">
            <i class="fa fa-facebook"> </i>
          </button>
          <button mat-raised-button class="btn btn-just-icon btn-round btn-twitter mr-3 m-2">
            <i class="fa fa-twitter"></i>
          </button>
          <button mat-raised-button class="btn btn-just-icon btn-round  btn-google mr-0 m-2">
            <i class="fa fa-google"></i>
          </button>
          <h4 class="mt-3 text-dark" style=" width: 100%; text-align: center; border-bottom: 1px solid rgb(196, 194, 194);  line-height: 0.1em;margin: 10px 0 20px;"><span class="mr-2 ml-2" style=" background:#fff; padding:0 10px;font-size: 12px; ">OR</span>   </h4>
        </div>
       <div class="mt-0">
        <form class="form" method="" action="" style="width:100%;">
          <mat-form-field >
            <mat-label>Full Name *</mat-label>
            <input matInput  class="mt-2">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Email *</mat-label>
            <input matInput  class="mt-2">
          </mat-form-field>
          <mat-form-field class="mt-0">
            <mat-label>Password *</mat-label>
            <input matInput class="mt-2">
          </mat-form-field>
          <button class="btn  btn-block  mt-1" style="background-color: rgb(0, 159, 198); font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 14px; line-height: 1.43; text-align: center;">SIGN UP</button>
          <div class="text-center mt-2">
            <span class="text-center" type="button"  style="color: rgb(79, 79, 80); font-size:12px;">By creating an account, I agree to the <span style="color: rgb(0, 159, 198); font-weight: 600;">Terms of Service, Privacy Policy </span>and  <span class="mr-2" style="color: rgb(0, 159, 198); font-weight: 600;">Cookies Policy</span>   </span>
        
          </div>
          <div class="text-center mt-1">
           
            <span class="text-center" style="color: rgb(79, 79, 80); font-size:14px;">Already have an account? <span type="button" [routerLink]="['/pages/login']"  style="color: rgb(0, 159, 198); font-size:14px; font-weight: 600;"> Log in</span>  </span>
          </div>
         
        </form>
       </div>
      </div>
   
        </div>
 
  </div>
</div>